@tailwind base;
@tailwind components;
@tailwind utilities;

/* يمكنك إضافة أنماط مخصصة هنا إذا أردت */
body {
  font-family: 'Tajawal', sans-serif; /* خط عربي أنيق */
  background-color: #f9fafb; /* خلفية فاتحة */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
